.fac-result {
  display: block;
  background-color: #ffffff;
  border: 2px solid #f6f6f2;
  border-radius: 0 0 8px 8px;
  position: absolute;
  left: 0;
  z-index: 99;
}
.block .fac-result ul {
  margin: 0;
  padding: 0;
}
.fac-result li {
  list-style: none;
  margin: 0;
  padding: 5px 5px 0;
}
.fac-result .see-all-link {
  background-color: #f6f6f2;
  border-radius: 0 0 5px 5px;
}
.fac-result .selected {
  background-color: #ffffcc;
}
.fac-result .highlight {
  font-weight: bolder;
}
